name: Test

on:
  push:
    branches:
      - main
    paths:
      - "**.py"
      - "pyproject.toml"
      - "poetry.lock"
      - ".github/workflows/test.yml"
  pull_request:
  workflow_dispatch:

jobs:
  test:
    uses: MrThearMan/CI/.github/workflows/test.yml@v0.4.12
    with:
      python-version: '["3.10", "3.11", "3.12"]'
      submodules: true
      fetch-depth: 0  # fetch all history for all branches
